{% extends 'base.html' %}

{% block content%}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4">User Profile</h2>
            {%include 'partials/_alerts.html'%}
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="fullName" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="fullName" name="fullName">
                </div>
                <div class="mb-3">
                    <label for="number" class="form-label">Phone Number</label>
                    <input type="number" class="form-control" id="phone" name="phone Number" placeholder="Enter your phone Number" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" name="email" class="form-control" id="email">
                </div>
                <button type="submit" name="buttonchange" class="btn btn-primary">Save changes</button>
        </div>
        </form>
    </div>
</div>
{% endblock %}