@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&family=Inconsolata:wght@500&family=Roboto:wght@100;300&display=swap");
.bod{
  background-color: #666;
  font-family: "Fira Mono", monospace;
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Inconsolata", monospace; */
}
.carousel-inner h1{
  text-shadow: 1px 1px #000;
}
.navbar{
    background: #23293009 !important ;
}
/* .carousel-inner img{
  height: 50%;
  width: 50%;
} */
.styleit{
    margin:10px;
    justify-items: center;
}
