{%load static%}
<!-- footer -->
<style>
    a {
        color: #CCCCFF !important;
    }

    a:hover {
        color: #fff;
    }
</style>


<footer style="background: #232930ee !important;">
    <div class="fixedImg fixedImg3"></div>

    <div class="container-fluid">
        <div class="row text-center text-light">
            <div class="col-md-4">
                <hr class="border-top my-3">
                <h5><img width="50px" style="border-radius: 60%; margin:10;" src="{% static 'images/perfume4.jpg'%}"
                        class="navbar-brand" href="#">cologne</h5>
                <hr class="border-top my-3">
                <p><a href="tel:0659158079">tel:+314846484</a> </p>
                <p>Address:paris santitein lagossa,France</p>
                <p>Fax:+31573924</p>
            </div>
            <div class="col-md-4">
                <hr class="border-top my-3">
                <h5><img width="50px" style="border-radius: 60%; margin:10;" src="{%static 'images/perfume4.jpg'%}"
                        class="navbar-brand" href="#">Odor</h5>
                <hr class="border-top my-3">
                <p><a href="address:france">Address:paris santitein lagossa,France</a> </p>
                <p>we are waiting for you.</p>
                <p>Fax:+31573924</p>
            </div>
            <div class="col-md-4">
                <hr class="border-top my-3">
                <h5><img width="50px" style="border-radius: 60%; margin:10;" src="{%static 'images/perfume4.jpg'%}"
                        class="navbar-brand" href="#">Perfume</h5>
                <hr class="border-top my-3">
                <p><a href="mail:ossamachreki2001@gmail.com"> perfumesitefrance@gmail.com</a></p>
                <p>Who likes odor ?</p>
                <p>Perfum just for you.</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="text-center text-light">Copyright &copy; 2023 Perfume site.</div class="text-center text-light">
    <hr>
</footer>
<!-- footer -->