{% load static%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" style="background: #232930ee !important;">
    <a class="navbar-brand" href="#" style="border-right:1px solid #aaa;padding-right:10px">
        <img width="50px" style="border-radius: 60%; margin: 0 auto;" src="{% static 'images/perfume4.jpg' %}" class="navbar-brand"
            href="#">
        Fragrance
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-xpanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item nav-perfume">
                <a class="nav-link" href="#">Perfume</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Perfume type
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Sheap</a>
                    <a class="dropdown-item" href="#">Expencive</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About us</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" style="margin-right: 20px;">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-warning my-2 my-sm-0" data-toggle="modal" data-target="#exampleModal"
                type="button">Login</button>
        </form>
    </div>
</nav>