{% extends 'base.html'%}

{%block title%}Checkout{%endblock%}

{% block content %}

<style>
    .my-num {

        font-weight: bold;
        color: lightblue;
        border: 1px solid lightblue;
        padding: 2px 10px;
        border-radius: 50px;
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <h2 class="mb-4 text-light text-center">Payment Information</h2>
        {%include 'partials/_alerts.html'%}
        <div class="col-md-6">
            {% if not request.user.is_authenticated or request.user.is_anonymous%}
            <h5 class="alert alert-warning">
                you must be <a href="{% url 'signin' %}" class="text-dark">Singin</a>
            </h5>
            {%elif not order%}
            <h4 class="alert alert-warning">
                No orders here.
            </h4>
            {%else%}
            {% if is_added == True%}
            <form method="post" style="display: none;">
                {% else %}
                <form method="post">
                    {% endif %}
                    {% csrf_token %}
                    <br>
                    <label for="orderNum" class="text-light">Order Number :</label>  <span id="orderNum" class="my-num text-light">{{order.id}}</span>
                    <br>
                   <label for="productCount" class="text-light">Product Count : </label><span id="productCount" class="my-num text-light">{{orderdetails.count}} </span>
                    <br>
                   <label for="totalAmount" class="text-light">Total Amount : </label> <span id="totalAmount" class="my-num text-light">{{total}}$</span>
                    <br>
                    <a href="{% url 'cart' %}" class="btn btn-outline-info mt-1 mb-5">Cart details</a>
                    <br>
                    <div class="form-group">
                        <label for="cardNumber" class="text-light">Card Number</label>
                        <input type="text" class="form-control" id="cardNumber" placeholder="Card Number">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="expirationDate" class="text-light">Expiration Date</label>
                            <input type="text" class="form-control" id="expirationDate" placeholder="MM/YY">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="cvv" class="text-light">CVV</label>
                            <input type="text" class="form-control" id="cvv" placeholder="CVV">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nameOnCard" class="text-light">Name on Card</label>
                        <input type="text" class="form-control" id="nameOnCard" placeholder="Name on Card">
                    </div>
                    <button type="submit" class="btn btn-warning">Submit Payment</button>
                </form>
        </div>
        {%endif%}
    </div>
</div>

{% endblock %}